
Liste+de+requetes+SQL+pour+le+dashboard.pdf
Database/translation.csv
Database/sellers.csv
Database/products.csv
Database/orders.csv
Database/order_reviews.csv
Database/order_pymts.csv
Database/order_items.csv
Database/olist.db
Database/geoloc.csv
Database/customers.csv
.ipynb_checkpoints/SQL-checkpoint.ipynb
.ipynb_checkpoints/Olist-checkpoint.ipynb
